<%- include("header") -%>

<div class="row">


  <a href="/notes-nest"
    class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
    <div class="product-card-heading">NotesNest</div>
    <p>You can access all your orders through this dashboard.</p>
  </a>
  
</div>

<%- include("footer") -%>